
.contain {
  position: relative;
  text-align: center;
}

.centered {
  font-size: 50px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:rgba(0, 0, 0, 0.5);
  background-color: white;
}

.row-content {
 background-color:none;
 padding: 50px;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.center {
  background-color: gainsboro;
  height: 200px;
  padding-top: 100px;
  color: steelblue;
}

.heading {
  font-family: 'Times New Roman', serif;
  font-size: 90px;
  font-weight: 900;
  padding: 200px;
  text-align: center;
  color:darkblue;
  background-color: rgb(120, 221, 221);
}

h3 {
  font-weight: 500;
}

Label {
  color: darkblue;
  font-style: italic;
}

#red {
  color: red;
}


.right {
  margin-left: 72px; ;

}

Form {
  background-color: bisque;
  border: 0.3px solid red;
}


.head {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  border: 1px solid greenyellow;
}

.aboutTitle {

  background-color: none;
  color: blue;
  font-weight: 600;
  height: 100px;
}

.AccordionBody {
 color: yellow;

}

/* We have to think about it differently. Radically different*/